@use './variables';
@use './form';
@use './personal';
@use './skills';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

body{
    background-color: variables.$color-primary;
    color: variables.$color-light;
    font-family: variables.$font-base;
}

a{
    color: variables.$color-accent;
}

i{
    margin: 5px;
}

a:hover{
    font-size: 16px;
    color: variables.$color-light;
}

.container{
    max-width: 1200px;
    height: auto;
    margin: auto;
    background-color: variables.$color-secondary;
    box-shadow: variables.$shadow-base;
    margin-bottom: 10px;
}

/* INFORMACION PERSONAL */


/* PERFIL PROFESIONAL */


.profesional-profile{
    height: 30vh;
    padding: 80px;
}

.profesional-profile p{
    padding: 15px;
    line-height: 22px;
}








